* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 1400px;
    height: 800px;
    margin: 50px;
    float: left;
}

.prev, .next {
    width: 100px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev i {
    color: orange;
    font-size: 50px;
}

.next i {
    color: red;
    font-size: 50px;
}

.slides {
    width: calc(100% - 200px);
    height: 100%;
    background-color: black;
    float: left;
    position: relative;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.slides img.active {
    display: block;
}

.circles {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

.circles i {
    color: white;
}
